@font-face {
  font-family: "Handel_Gothic";
  src: url(~/assets/fonts/Handel_Gothic.ttf) format("truetype");
  font-weight: 300;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: #ffff;
}
