@windicss;

body{
    background-color: theme('colors.ruby.500');
}
@font-face {
    font-family: "Alarm_Clock";
    font-weight: normal;
    font-style: normal;
    font-size: 8pc;
    font-display: swap;
    src:
        url("/assets/fonts/Alarm_Clock.woff2") format("woff2"),
        url("/assets/fonts/Alarm_Clock.woff")
        format("woff"),
        url("/assets/fonts/Alarm_Clock.ttf")
        format("truetype"),
        url("/assets/fonts/Alarm_Clock.svg#svgFontName")
        format("svg");
}

@font-face {
    font-family: "Handel_Gothic";
    font-weight: normal;
    font-style: normal;
    font-size: 8pc;
    font-display: swap;
    src: url("/assets/fonts/Handel_Gothic.ttf") format("truetype");
}